Address Sec Adv: unknown crit header ext accepted

Address and fix the Security Advisory "Security Report: fast-jwt accepts unknown `crit` header extensions (RFC 7515 §4.1.11 MUST violation)"

https://github.com/nearform/fast-jwt/security/advisories/GHSA-hm7r-c7qw-ghp6