what is the default expiry time for createSigner function?

this is not bug, but question, i read the RFC and other things, but was not able to find any information regarding this

could you guide me?

>expiresIn: Time span (in milliseconds or text describing time) after which the token expires, added as the exp claim in the payload as defined by the [section 4.1.4 of RFC 7519](https://datatracker.ietf.org/doc/html/rfc7519#section-4.1.4). This will override any existing value in the claim.

>Eg: 60, "2 days", "10h", "7d". A numeric value is interpreted as a seconds count. If you use a string be sure you provide the time units (days, hours, etc), otherwise milliseconds unit is used by default ("120" is equal to "120ms"). For more info look into [@lukeed/ms](https://www.npmjs.com/package/@lukeed/ms).

what is the default for this? if i don't provide anything in createSigner function

Hi @KMJ-007. From looking at the library it looks like there is no default as it is an optional parameter. The exp claim returned will have no timestamp set unless the payload already contains one or the expiresIn parameter is set. 
See (https://github.com/nearform/fast-jwt/blob/master/src/signer.js#L104) 
```
    exp: payload.exp ? payload.exp : expiresIn ? Math.floor((iat + expiresIn) / 1000) : undefined,

```
If you read slightly further down in the [RFC7519 Section 4.14](https://datatracker.ietf.org/doc/html/rfc7519#section-4.1.4) you can see it says: "Its value MUST be a number containing a NumericDate value.  Use of this claim is OPTIONAL."

Hope this helps 😄 

thanks!